#reg-cover-letter{ height:150px; }
.error { border: solid 2px #FF0000; }
.error_valid_email { color: #FF0000;display: none; }
.file_size_exceeds { color: #FF0000;display: none; }
.error_file_type { color: #FF0000;display: none; }
.error_valid_url { color: #FF0000;display: none; }
.log_error_valid_email { color: #FF0000;display: none; }